@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
        <div class="Appointment">
            <div class="phone_num d-none d-xl-block">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </div>
            <form class="boxed-btn3" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
        <div class="Appointment">
            <div class="phone_num d-none d-xl-block">
                <a asp-area="Identity" asp-page="/Account/Login">Войти</a>
            </div>
            <div class="d-none d-lg-block">
                <a class="boxed-btn3" asp-area="Identity" asp-page="/Account/Register">зарегистрироваться</a>
            </div>
        </div>
    </div>
}
