@model Product

<div class="job-test col-lg-4 col-xl-3 col-md-6">
    <div class="single_jobs justify-content-between">
        <div class="jobs_conetent">
            <img class="job-image" src="img/banner/testmilk.png" alt="">
            <h4 class="job-title">@Model.Title</h4>
            <p class="job-price">@Model.Price руб. от @Model.MinBuyCount кг</p>
            <p class="job-price">@Model.ShelfLife</p>
            <a href="/Home/Detail?id=@Model.Id" class="job-btn boxed-btn3 btn-catagory">Подробнее</a>
        </div>
    </div>
</div>