@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>

<div class="job_listing_area .margin_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section_title">
                    <h3>Добро пожаловать!</h3>
                    <h3>Ваши товары на рынке</h3>
                </div>
            </div>
        </div><br>
        <a href="/СommodityProducer/CreateProduct" class="job-btn boxed-btn3 btn-catagory">Добавить новый продукт</a>
        <div class="job_lists">
            <div class="jobscenter row">
                @foreach (var product in Model)
                {
                    <partial name="ProductCard" model="product" />
                }
            </div>
        </div><br>
    </div>
</div>
